<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Tune Hub:AddSong</title>
<style type="text/css">
body {
	background-color: #66ffcc;;
     text-align: center;
     padding-top: 250px;
     font-size: large;
}
.sub{
	font-size: larger;
	border: 2px solid black;
	border-radius: 80px;
	padding: 4px;
}
.sub:hover{
	background-color: black;
	color: white;
	cursor: pointer;
}
</style>
</head>
<body>
<fieldset>
<legend>Song Form</legend>
<form action="addSong" method="post">
    <label>Song Name :</label>
    <input type ="text" name="name">
    <br>
    <br>
     <label>Song Artist :</label>
    <input type ="text" name="artist">
    <br>
    <br>
     <label>Song Genre :</label>
    <input type ="text" name="genre">
    <br>
    <br>
     <label>Song Link :</label>
    <input type ="text" name="link">
    <br>
    <br>
    <input type="submit" value="ADD SONG" class="sub">
  </form></fieldset>
 
 

</body>
</html>
